@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.content-block{
    margin: 0 auto ;
    width: 1000px;
    height: 100%;
    border: #282c34 1px solid;
    border-left: none;
    border-right: none;
}

.content-block-tools{
    border: #282c34 1px solid;
}

.content-block-tools ul{
    list-style-type: none;
}

.content-block-tools ul li{
    display: inline;
    margin: 10px;
}