@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.content-block{
    margin: 0 auto ;
    width: 1000px;
    height: 100%;
}

.search-from{
    margin: 0 auto;
    display: block;
}

.search-from form{
    display: block;
}

.search-from input{
    outline:none;
    margin: 0 auto;
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border: black 1px solid;
    font-size: 20px;
    background: url(../../icons/search.svg) no-repeat scroll 7px 7px;
    padding-left:40px;
}

.search-from button{
    font-size: 15px;
    border-radius: 20px;
    border: 1px #6633FF solid;
    height: 45px;
    width: 70px;
    color: white;
    background-color: #6633FF;
    margin: 10px;
    transition: 0.3s;
}

.search-from button:hover{
    background-color: #4324a6;
}


.content-block-tools{
    margin-left: 30px;
    width:300px;
    position: fixed;
    border: #282c34 1px solid;
    border-radius: 20px;
}

.content-block-tools ul{
    list-style-type: none;
}

.content-block-tools ul li{
    border: 1px solid black;
    margin: 10px;
}


.no-res-msg{
    font-size: 30px;
    color: #939393;
    display: block;
    margin: 0 auto;
}

.create-post-button{
    position: fixed;
    margin-left: 1550px;
    margin-top: 650px;
    background-color: white;
    font-size: 30px;
    width: 100px;
    height: 100px;
    border: 1px solid #3f3f3f;
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
}

.create-post-button img{
    margin-left: 5px;
    margin-top: 3px;
    width: 90px;
}
.create-post-button:hover{
    background-color: #EFEFEF;
}


